*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: darkgrey;
}

/*Menu*/

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    background-color: #333333;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    width: 100%;
    background-color:#333333;
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
}

#home:hover,#discord:hover,#shop:hover{
    border-top: 5px solid cyan;
    background-color: darkcyan;
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

/* offres */

.parent{
    text-decoration: none;
    align-items: flex-start;
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 20px solid darkgrey;
}
.child{
    float: center;
    width: 300px;
    padding: 50px 60px 70px;
    background: #2c2c2c;/*191919*/
    text-align: center;
}
.child h1{
    background: none;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}
.child input{
    background: none;
    margin: 20px auto;
    width: 220px;
}
.child input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid darkcyan;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
}
.child a{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    border: 2px solid darkcyan;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    cursor: pointer;
    opacity: 0.6;
}
.child a:hover{
    opacity: 1;
    background: darkcyan;
    border-color: cyan;
}

.child input:hover{
    border-color: cyan;
}

/* Footer */

footer p{
    margin: 0 auto;
}

footer{
    text-align: center;
    font-weight: 400;
    font-size: 1em;
    margin: 3em auto;
}

footer a{
    text-decoration: none;
    color: darkcyan;
}

footer a:hover{
    color: cyan;
}